# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Ember CLI'
      'submenu': [
        { 'label': 'Toggle Panel',   'command': 'ember-cli-helper:toggle' },
        { 'label': 'Generate Files', 'command': 'ember-cl-helper:generate-file'},
        { 'label': 'Switch between .js/.hbs', 'command': 'ember-cli-helper:switch-file' },
        { 'label': 'Switch between route/controller', 'command': 'ember-cli-helper:switch-route' },
      ]
    ]
  }
]
