# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'atom-workspace':
  'ctrl-alt-o': 'ember-cli-helper:toggle'
  'ctrl-alt-g': 'ember-cli-helper:generate-file'
  'ctrl-alt-e': 'ember-cli-helper:switch-file'
  'ctrl-alt-r': 'ember-cli-helper:switch-route'
  'ctrl-alt-enter': 'ember-cli-helper:open-component'
